/*import the marker font from here*/
@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);


/*This is forcing body to whole page*/
body{height:100%;
   width:100%;
   background: url("../images/paper.jpg") no-repeat center center fixed; 
  /*This should allow the game to resize appropriately*/
  -webkit-background-size: cover;  
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*Keeping all wording in the middle for right now*/
  
}

h1 {	
	font-family: 'Permanent Marker', 'cursive';
}

#word span{
	display: inline-block;
	padding: 5px;
	border-bottom: 2px solid black;
	margin-right: 3px;
	font-size: 1.5em;
}

#hangmanarea{
paddin
}
